.git
.DS_Store
node_modules
coverage
dist
*.log
npm-debug.log*

token.env
.env
.env.*
docker-compose.override.yml
config.json
config.local.json
servers.json
state
state.json
wireguard
*.key
*.conf
*.png
